<div class="table-responsive pb-3">
    <table class="table table-bordered table-hover table-sm">
        <thead class="thead-light">
            <tr>
                <th class="text-center">ID</th>
                <th class="text-center">Csoport</th>
                <th class="text-center">Műveletek</th>
            </tr>
        </thead>
        <tbody>

            {{> delete_categ_modal }}
            {{> categories_table_data }}

        </tbody>
    </table>
</div>

{{> footer }}