<div class="modal fade" id="delete_prod" tabindex="-1" role="dialog" aria-labelledby="delete_prod_title"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h5 class="modal-title" id="delete_prod_title">Termék Törlése</h5>
            </div>
            <div class="modal-body text-center">
                Biztos, hogy törölni szeretnéd ezt a terméket:
                <p class="prod-name"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Mégsem</button>
                <form method="POST" class="delete-prod">
                    <button type="submit" class="btn btn-danger">Törlés</button>
                </form>
            </div>
        </div>
    </div>
</div>