<div class="modal fade" id="delete_cat_modal" tabindex="-1" role="dialog" aria-labelledby="delete_categ_title"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h5 class="modal-title" id="delete_categ_title">Csoport Törlése</h5>
            </div>
            <div class="modal-body text-center">
                Biztos, hogy törölni szeretnéd ezt a csoportot:
                <p class="categ-name"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Mégsem</button>
                <form method="POST" class="delete-categ">
                    <button type="submit" class="btn btn-danger">Törlés</button>
                </form>
            </div>
        </div>
    </div>
</div>