<div class="container text-right footer d-flex flex-row justify-content-end align-items-center">
    {{#ifeq menu 'products'}}<button type="button" class="btn btn-primary" onclick="show_new_product_modal()">Új
        termék</button>{{/ifeq}}
    {{#ifeq menu 'categories'}}<button type="button" class="btn btn-primary" onclick="show_new_category_modal()">Új
        Csoport</button>{{/ifeq}}
</div>

<script>
    function show_new_product_modal() {
        $('#new_product').modal();
        document.querySelector('#prodName').value = '';
        document.querySelector('#prodCat').value = '';
        document.querySelector('#prod_description').value = '';
    }

    function show_new_category_modal() {
        $('#new_category').modal();
        document.querySelector('#catName').value = '';
    }
</script>