<div class="container text-right footer d-flex flex-row justify-content-end align-items-center p-3">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#new_product">Új termék</button>
</div>