<div class="table-responsive pb-3">
    {{#if products}} {{> products_filter_form }} {{/if}}
    <table class="table table-bordered table-hover table-sm">
        <thead class="thead-light">
            <tr>
                <th class="text-center">ID</th>
                <th class="text-center">Megnevezés</th>
                <th class="text-center">{{#if products}} Csoport {{/if}}{{#if stocks}}
                    Mennyiség {{/if}}</th>
                <th class="text-center">Műveletek</th>
            </tr>
        </thead>
        <tbody>
            {{#if products}} {{> products_table_data}} {{/if}}
            {{#if products}} {{> delete_modal }} {{/if}}
            {{#if stocks}} {{> stocks_table_data}} {{/if}}

        </tbody>
    </table>
</div>

{{#if products}} {{> footer }} {{/if}}