<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead class="thead-light">
            <tr>
                <th class="text-center">ID</th>
                <th class="text-center">Megnevezés</th>
                <th class="text-center">Csoport</th>
                <th class="text-center">Műveletek</th>
            </tr>
        </thead>
        <tbody>
            {{> table_data}}
        </tbody>
    </table>
</div>

{{> footer }}