<div class="table-responsive">
    {{#if products}} {{> products_filter_form }} {{/if}}
    <table class="table table-bordered table-hover table-sm">
        <thead class="thead-light">
            <tr>
                <th class="text-center">ID</th>
                <th class="text-center">Megnevezés</th>
                <th class="text-center">{{#if products}} Csoport {{/if}}{{#if stocks}}
                    Mennyiség {{/if}}</th>
                <th class="text-center">Műveletek</th>
            </tr>
        </thead>
        <tbody>
            {{#if products}} {{> products_table_data}} {{/if}}
            {{#if products}} {{> delete_modal }} {{/if}}
            {{#if stocks}} {{> stocks_table_data}} {{/if}}

        </tbody>
    </table>

    <div class="container-fluid row d-flex">

        <div class="col-6 container text-right">
            {{#if showPrev}}
                <a href="" class="btn btn-primary btn-lg btn-sm prev-btn" role="button" data-max="{{lastPage}}" data-page="{{prevPage}}" aria-pressed="true"> &lt; Prev</a>
            {{/if}}

        </div>

        <div class="col-6 container text-left">
            {{#if showNext}}
                <a href="" class="btn btn-primary btn-lg active btn-sm next-btn" role="button" data-max="{{lastPage}}" data-page="{{nextPage}}" aria-pressed="true"> Next &gt;</a>
            {{/if}}

        </div>

    </div>

</div>

{{#if products}} {{> footer }} {{/if}}

<script>
    const nextBtn = document.querySelector('.next-btn');
    if(nextBtn) {
        nextBtn.addEventListener('click', () => {

            nextBtn.setAttribute('href', `/products?page=${event.target.dataset.page}`);
            console.log(nextBtn.dataset.page)
        }, false)
    }


    const prevBtn = document.querySelector('.prev-btn');

    if(prevBtn) {
        console.log(prevBtn.dataset.page)
        prevBtn.addEventListener('click', () => {
            prevBtn.setAttribute('href', `/products?page=${event.target.dataset.page}`);
        })
    }
</script>