<div class="modal fade" id="new_warehouse" tabindex="-1" role="dialog" aria-labelledby="new_warehouse_title"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h5 class="modal-title" id="new_prod_title">Új raktár felvitele</h5>
            </div>
            <div class="modal-body">
                {{> new_warehouse_form }}
            </div>
        </div>
    </div>
</div>