<form method="POST" action="/warehouses" class="needs-validation new-products">
  <div class="form-row align-items-center">
    <div class="form-group col-md-4">
      <label for="whName" class="col-form-label">Megnevezés:</label>
    </div>
    <div class="form-group col-md-8">
      <input type="text" class="form-control" id="whName" name="warehouse_name" placeholder="Raktár neve"
        required>
    </div>
  </div>
  <div class="form-row align-items-center">
    <div class="form-group col-md-4">
      <label for="whCity" class="col-form-label">Város:</label>
    </div>
    <div class="form-group col-md-8">
      <input type="text" class="form-control" id="whCity" name="warehouse_city" placeholder="Város"
        required>
    </div>
  </div>
  <div class="form-row align-items-center">
    <div class="form-group col-md-4">
      <label for="whZip" class="col-form-label">Irányítószám:</label>
    </div>
    <div class="form-group col-md-8">
      <input type="text" class="form-control" id="whZip" name="warehouse_zip" placeholder="Irányítószám"
        required>
    </div>
  </div>
  <div class="form-row align-items-center">
    <div class="form-group col-md-4">
      <label for="whStreet" class="col-form-label">Utca:</label>
    </div>
    <div class="form-group col-md-8">
      <input type="text" class="form-control" id="whStreet" name="warehouse_street" placeholder="Utca"
        required>
    </div>
  </div>
  <div class="form-row align-items-center">
    <div class="form-group col-md-4">
      <label for="whHouseNum" class="col-form-label">Házszám:</label>
    </div>
    <div class="form-group col-md-8">
      <input type="text" class="form-control" id="whHouseNum" name="warehouse_houseNum" placeholder="Házszám"
        required>
    </div>
  </div>
  
  <div class=" d-flex justify-content-between">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Mégsem</button>
    <button type="submit" class="btn btn-primary">Ok</button>
  </div>
</form>

<script>
  (function () {
    window.addEventListener('load', function () {
      const form = document.querySelector('.new-products');
      form.addEventListener('submit', function (event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    }, false);
  })();
</script>