<div class="container-fluid d-flex justify-content-end p-3">
    <form method="GET" action="/products" class="form-inline filter_by_cat">
        <div class="form-row align-items-center">
            <div class="form-group col-md-4">
                <label for="filterCat" class="col-form-label">Csoport:</label>
            </div>
            <div class="form-group col-md-8">
                <select class="custom-select my-1 mr-sm-2" id="filterCat" name="filter_category"
                    onchange="this.form.submit()">
                    <option selected>Válassz...</option>
                    {{#each categories}}
                    <option value="{{category_name}}">{{category_name}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
    </form>
</div>