<ul class="nav flex-column nav-pills sidebar">
    <li class="nav-item">
        <a class="nav-link {{#ifeq menu 'stocks'}} active {{/ifeq}}" href="/stocks">Készletek</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{#ifeq menu 'products'}} active {{/ifeq}}" href="/products">Termékek</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{#ifeq menu 'categories'}} active {{/ifeq}}" href="/categories">Csoportok</a>
    </li>
</ul>