<ul class="nav flex-column sidebar border">
    <li class="nav-item">
        <a class="nav-link active" href="#">Készletek</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Termékek</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Csoportok</a>
    </li>
</ul>