<ul class="nav flex-column nav-pills sidebar">
    <li class="nav-item">
        <a class="nav-link {{#if stocks}} active {{/if}}" href="/stocks">Készletek</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{#if products}} active {{/if}}" href="/products">Termékek</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{#if groups}} active {{/if}}" href="/categories">Csoportok</a>
    </li>
</ul>