<form class="needs-validation stock_quantity_change" method="POST" action="/stocks">
    <div class="form-row align-items-center">
        <div class="form-group col-md-4">
            <label for="stock_quantity_input" class="col-form-label">Darabszám:</label>
        </div>
        <div class="form-group col-md-8">
            <input type="number" class="form-control" id="stock_quantity_input" name="stock_quantity" min="0" required>
            <input type="text" class="form-control stock_item_id" name="stock_item_id" hidden>
        </div>
    </div>

    <div class="d-flex justify-content-between">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Mégsem</button>
        <button type="submit" class="btn btn-primary">Ok</button>
    </div>
</form>

<script>
    (function () {
        window.addEventListener('load', function () {
            const stockForm = document.querySelector('.stock_quantity_change');
            stockForm.addEventListener('submit', function (event) {
                if (stockForm.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                stockForm.classList.add('was-validated');
            }, false);
        }, false);
    })();
</script>