<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/bootstrap.css">
    <link rel="stylesheet" href="./css/main.css">
    <title>BH-INVENTORY</title>
</head>

<body>

    {{> new_prod_modal }}
    {{> stock_change_modal }}
    {{> new_category_modal }}
    {{> new_warehouse_modal }}
    {{> modify_subcategories_modal }}

    {{{body}}}

    <script src="./js/jquery.js"></script>
    <script src="./js/popper.js"></script>
    <script src="./js/bootstrap.js"></script>
</body>

</html>