<div class="container main-container border d-flex flex-column align-items-center">
    <div class="container row header p-2">
        <div class="col-2 container-fluid d-flex flex-row justify-content-center align-items-center">
            <a href="/"><img src="./img/logo.jpg" alt="" class="img-fluid"></a>
        </div>
        {{> title}}
    </div>
    <div class="container row site-content">
        <div class="col-2 main-nav container-fluid">
            {{> sidebar }}
        </div>
        <div class="col-10 main-content container-fluid">

            {{#ifeq menu 'products'}}{{> products_site_content }}{{/ifeq}}
            {{#ifeq menu 'stocks'}}{{> stocks_site_content }}{{/ifeq}}
            {{#ifeq menu 'categories'}}{{> categories_site_content }}{{/ifeq}}
        </div>
    </div>
</div>