<div class="container main-container border">
    <div class="container row header">
        <div class="col-2">
            <img src="./img/logo.jpg" alt="" class="img-fluid">
        </div>

        <div class="col-10 d-flex flex-row justify-content-center align-items-center">
            <h1>Termékek</h1>
        </div>
    </div>
    <div class="container row site-content">
        <div class="col-2 main-nav">
            {{> sidebar }}
        </div>
        <div class="col-10 main-content">
            {{> main-content}}
        </div>
    </div>
</div>