html,
body {
	width: 100%;
	height: 100%;
}

img {
	width: 100%;
}

th .active {
	background-color: #6c757d !important;
}

.category-role {
	display: none;
}

.main-container {
	min-height: 720px;
}

.site-content {
	min-height: 600px;
}

.table-responsive {
	min-height: 500px;
}

.header {
	min-height: 120px;
}

.footer {
	min-height: 100px;
}
