html,
body {
	width: 100%;
	height: 100%;
}

img {
	width: 100%;
}

.main-container {
	height: 100%;
}

.site-content {
	min-height: 80%;
}

.table-responsive {
	min-height: 85%;
}

.header {
	height: 20%;
}

.footer {
	height: 15%;
}
